.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.flavor-container {
  align-items: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  text-align: center;
}

/* @TODO: rework height clamp */
.flavor-image {
  align-self: center;
  height: clamp(11rem, 12rem, 30rem);
  flex-shrink: 0; 
}

.flavor-text {
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
}

p {
  font-size: large;
}

.perfect-text {
  color: #FF6F89;
  font-size: smaller;
  font-weight:900;
  text-shadow: 
  -1px -1px 0 #fff,  
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff,
  0px 0px 1px #fff; 
  text-transform: uppercase;
}

.personality-container {
  align-items: center;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
  max-width: 37rem;
  text-align: center;
}

.personality-text {
  color: #FFF;
}

.pillow-image {
  min-width: 10rem;
  max-width: 17rem;
  width: 80%;
}

.results-container {
  align-items: center;
  color: #FFF;
  display:flex;
  flex-direction:column;
  padding: 0 2rem;
}

.trait-container {
  background-color: #FFF;
  border-radius: 4rem;
  padding: 1rem;
}

.trait-desc {
  color: #20448c;
  font-weight: 600;
}

.trait-name {
  font-size: large;
  text-transform: uppercase;
}

.trait-name-0{
  color: #ff88a8;
}

.trait-name-1{
  color: #88c15b;
}

.trait-name-2{
  color: #ea0709;
}

.trait-0{
  border: 2px solid #ff88a8;
}

.trait-1{
  border: 2px solid #88c15b;
}

.trait-2{
  border: 2px solid #ea0709;
}