.wheel-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
  width: 40%;
  min-width: 345px;
  margin: 0 auto;
}

.wheel-image {
  width: 100%;
  height: auto;
  transition: transform 8s cubic-bezier(0.33, 1, 0.68, 1);
  will-change: transform;
}


.wheel-pointer {
  position: absolute;
  top: -5%;
  left: 50%;
  width: 60%;
  height: auto;
  transform: translate(-50%);
  z-index: 1;
}

.wheel-center {
  position: absolute;
  top: 28%;
  left: 50%;
  width: 33%;
  height: auto;
  transform: translate(-50%);
  z-index: 1;
}

.spin-button {
  background-color: #FFD101;
  border: 2px solid #17478F;
  color: #17478F;
  cursor: pointer;
  min-width: 14rem;
  max-width: 16rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}
