.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mlb-logo {
  max-width: 4rem; /* Adjust size as needed */
  height: auto;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 1.5rem;
  max-width: 80%;
  text-align: center;
}

.header-title-text {
  color: #FFD101;
  font-size: 24px;
  font-weight: 700;
  padding: 4rem 2rem 0;
  text-transform: uppercase;
}

.step-up-text {
  color: white;
  font-size: 32px;
  font-weight: 800;
}

p {
  font-weight: 700;
  font-size: 14px;
  max-width: 70%;
}

@media (min-width: 500px) {
  .step-up-text {
    font-size: 44px;
  }

  .header-title-text {
    font-size: 36px;
  }

  p {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .step-up-text {
    font-size: 75px;
  }

  .header-title-text {
    font-size: 50px;
  }
}