.coupon-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 71, 143, 0.85); /* #17478F with transparency */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.coupon-modal-content {
  background-color: #e4041c;
  padding: 30px;
  border: 2px solid white;
  border-radius: 50px;
  text-align: center;
  color: white;
  width: 90%;
  margin: 0 1rem;
  padding: 2rem;
  max-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.coupon-text {
  font-size: 36px;
}

.coupon-subtext {
  margin: 0;
  font-size: 30px;
}

.hi-chew-link {
  color: #17478F;
  text-decoration: none;
}