@import './styles/variables.css';

.container {
  align-items: center;
  background-color: #17478F;
  display: flex;
  flex-direction: column;
}

.header-background {
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #17478F 89%), url('./assets/field-header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}
