@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

#root {
  height: 100vh;
}

body {
  background-color: #FFF;
  margin: 0;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background: transparent;
  border-radius: 2rem;
  color: #FFF;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  padding: 1rem 2rem;
}

h1 {
  font-weight:900;
  text-align: center;
}

h1, h2, h4, p {
  color: #FFF;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}