.chew-crew-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.terms-scrollbox {
  color: #17478F;
  max-height: 300px;
  overflow-y: auto;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 1rem;
}

.form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

input {
  background-color: transparent;
  border: none;
  border-top: 2px solid white; 
  color: #FFF;
  font-size: medium;
  font-weight: 600;
  padding: 0.65rem 5rem 0.65rem 1rem;
}
input.selected {
  border: none;
}
/* Styles for autofilled inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: #17478F;
  -webkit-box-shadow: 0 0 0 30px #17478F inset !important;
  -webkit-text-fill-color: #FFF !important;
}

::placeholder {
  border: none;
  color: rgba(255, 255, 255, 1);
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
  font-weight: 600;
  opacity: 1;
}

.questions-container {
  border: 2px solid white;
  border-top: none;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  margin-bottom: 0;
}

.submit-button {
  background-color: #17478F;
  border: 2px solid #FFD101;
  color: white;
  cursor: pointer;
  min-width: 14rem;
  max-width: 16rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}

.almost-there-text {
  color: white;
  text-transform: uppercase;
}

.title-text {
  color: #FFD101;
  font-size: 20px;
  padding: 2rem 2rem 0;
  max-width: 400px;
  text-transform: uppercase;
}

.terms-container {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.chevron-toggle {
  border: none;
  padding: 1rem 0.5rem;
}

.terms-details {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.terms-text {
  font-size: x-small;
  padding-left: 1.5rem;
  align-items: center;
  justify-self: center;
}

.terms-label {
  font-size: x-small;
}

.check {
  padding: 0;
  margin: 0.25rem;
}

/* .checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
  position: relative;
  padding: 0.5em 0.5em;
  margin: 0;
}
.checkbox:checked::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  width: 6px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
} */

@media (min-width: 500px) {
  .title-text {
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  .title-text {
    font-size: 30px;
  }
}