.chew-crew-container {
  align-items: center;
  display: flex;
  flex-direction: column;

}

.disclaimer-text {
  font-size: small;
  margin-top: 3rem;
  padding: 0 2.5rem;
  text-align: center;
}

.form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

input {
  background-color: transparent;
  border: none;
  border-top: 2px solid white; 
  color: #FFF;
  font-size: medium;
  font-weight: 600;
  padding: 0.65rem 5rem 0.65rem 1rem;
}
input.selected {
  border: none;
}
/* Styles for autofilled inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: #17478F;
  -webkit-box-shadow: 0 0 0 30px #17478F inset !important;
  -webkit-text-fill-color: #FFF !important;
}

::placeholder {
  border: none;
  color: rgba(255, 255, 255, 1);
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
  font-weight: 600;
  opacity: 1;
}

.questions-container {
  border: 2px solid white;
  border-top: none;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  margin-bottom: 0;
}

.sign-up-text {
  color: #FFF;
  font-weight: 600;
  padding: 0.65rem 1.5rem 0.65rem 1.5rem;
  text-align: center;
  text-transform: uppercase;
  
}

.submit-button {
  background-color: #17478F;
  border: 2px solid #FFD101;
  color: white;
  cursor: pointer;
  min-width: 14rem;
  max-width: 16rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}

.almost-there-text {
  color: white;
  text-transform: uppercase;
}

.title-text {
  color: #FFD101;
  font-size: 30px;
  padding: 2rem 2rem 0;
  max-width: 400px;
  text-transform: uppercase;
}

.terms-container {
  color: white;
  justify-items: center;
  text-align: center;
}

.chevron-toggle {
  border: none;
  padding: 1rem 0.5rem;
}

.terms-details {
  align-self: center;
  max-width: 70%;
  text-align: left;
  justify-items: center;
}

.terms-text {
  font-size: 16px;
}